/* Color Pallet:
  HEX CODES:
  #0b1f3a - Midnight Blue
  #76101e - Maroon
  #133769 - Navy Blue
  #c9374c - red/pink
  #b4b1b8 - Space Gray
  #c2dde4 - light Blue 
  
  Background Colors:
  #3f3251 - dark purple
  #002025 - Almost black/blue*/

/* Common Styles */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Jura", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Button */
.main-btn {
  position: absolute;
  bottom: 3rem;
  width: 13rem;
  height: 13rem;
  background-color: #0b1f3a;
  border-radius: 50%;
  border: 0.2rem dotted #fff;
  padding: 0.1rem;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.main-btn-content {
  width: 100%;
  height: 100%;
  border: 0.2rem dotted #fff;
  border-radius: 50%;
  transform: rotate(40deg);
  transition: transform 0.2s, border 0.2s;
}

.main-btn:hover .main-btn-content {
  transform: rotate(60deg);
  border: 0.2rem dotted #fff;
  transition: transform 0.2s 0.5s, border 0.2s;
}

.main-btn-line {
  position: absolute;
  top: 4rem;
  width: 3rem;
  height: 0.5rem;
  border: 0.1rem solid #fff;
}

.main-btn-line:nth-child(1) {
  transform: rotateZ(-45deg) translateX(-0.65rem);
  transform-origin: left center;
  border-right: none;
}

.main-btn-line:nth-child(2) {
  transform: rotateZ(45deg) translateX(0.65rem);
  transform-origin: right center;
  border-left: none;
}

.main-btn-line:nth-child(3) {
  transform: rotateZ(90deg) translateX(0.5rem);
  border-left: none;
}

.main-btn span {
  position: absolute;
  bottom: 3rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.ripple {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #3f3251;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: rippleAnim 0.5s forwards;
}

@keyframes rippleAnim {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 230%;
    height: 230%;
  }
}
/* End of Main Button */
/* End of commone styles */

/* Mouse Circle */
.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  animation: mouseDotAnim 10s infinite linear;
  opacity: 0;
  pointer-events: none;
}

.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid #b4b1b8;
  animation: mouseCircleAnimation 10s infinite linear;
}

@keyframes mouseCircleAnimation {
  0% {
    width: 6rem;
    height: 6rem;
  }
  25% {
    width: 8rem;
    height: 8rem;
  }
  35% {
    width: 4rem;
    height: 4rem;
  }
  70% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}

.mouse-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #c9374c;
  animation: mouseDotAnim 10s infinite linear;
}

@keyframes mouseDotAnim {
  0% {
    width: 0.5rem;
    height: 0.5rem;
  }
  55% {
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    width: 0.5rem;
    height: 0.5rem;
  }
}
/* End of mouse circle */

/* Page BG - Interstellar */
body {
  background: mix(#3f3251, #002025, 70%);
}
#prism-logo path {
  fill: #20293b;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
}
#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(0.5, 0.5, 1);
}
#particles-background {
  background: mix(#3f3251, #002025, 70%);
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova-soft", sans-serif;
  -webkit-user-select: none;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
}
body .vertical-centered-box:after {
  content: "";
  display: inline-block;
}
/* END of Page BG - Interstellar */

/* Navigation */
/* Menu Icon */
.menu-icon {
  position: fixed;
  top: 3.5rem;
  right: 0;
  width: 12rem;
  height: 7rem;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}

.menu-icon-line {
  width: 4rem;
  height: 0.1rem;
  background-color: #fff;
  margin: 0.5rem 0;
  box-shadow: 0 0.3rem 0.5rem #000;
}

.show-menu-icon {
  opacity: 1;
  visibility: visible;
}
/* End of Menu Icon */

.navbar {
  position: fixed;
  top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  z-index: 100;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}

.navbar-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0 2.5rem;
  text-shadow: 0 0 1rem #c2dde4;
}

.hide-navbar {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10rem);
}
/* End of Navbar */

/* Section 1 */
.section-1 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Logo */
.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}
/* End of Logo */

/* Anim Circle */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.circle {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: red;
  align-self: center;
  justify-self: center;
  opacity: 0.5;
  position: relative;
  top: 0;
  left: 0;
  transition: left 2s, top 2s;
}

.circle-1 {
  background: url(images/unfinishedP.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dotted #76101e;
  margin-left: -10rem;
  mix-blend-mode: color-dodge;
}
.circle-2 {
  background: url(images/F1.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dashed #133769;
  margin-right: -10rem;
  mix-blend-mode: color-dodge;
}
.circle-3 {
  background: url(images/guitar.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 1rem double #c2dde4;
  margin-left: -10rem;
  mix-blend-mode: color-dodge;
}
.circle-4 {
  background: url(images/programmer.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.7rem double #76101e;
  margin-right: -10rem;
  mix-blend-mode: color-dodge;
}
.main-circle {
  width: 55rem;
  height: 55rem;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
  mix-blend-mode: color-dodge;
}
.main-circle:hover {
  width: 75rem;
  height: 75rem;
}
.main-circle img {
  /* mix-blend-mode: color-dodge; */
  position: relative;
  transition: left 2s, top 2s;
  top: 0;
  left: 0;
}
/* End of Anim Circles */

/* Featured Text */
.featured-text {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  width: 0;
  word-wrap: break-word;
  line-height: 3.5;
  position: sticky;
  top: 0;
  text-shadow: 0 0 1rem #c2dde4;
}
.featured-text-1 {
  margin: 0 auto 0 10rem;
}
.featured-text-2 {
  margin: 0 10rem 0 auto;
}
/* End of Featured Text */
/* End of Section 1 */

/* Section 2 */
.section-2 {
  position: relative;
  padding: 10rem 10rem 15rem 10rem;
}

/* Section 2 Heading */
.section-heading {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translateY(-50%);
  width: 0;
  word-break: break-all;
  line-height: 4;
  text-shadow: 0 0 1rem #c2dde4;
}

/* End of Section 2 Heading */
/* About Me Text */
.about-me-text {
  width: 80%;
  margin: auto;
}

.about-me-text span {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 1rem #c2dde4;
  position: relative;
}

@keyframes aboutMeTextAnim {
  0% {
    color: #aaa;
    top: 0;
    opacity: 10%;
  }
  10%,
  90% {
    color: #fff;
    top: 2rem;
    opacity: 80%;
  }
  100% {
    color: #aaa;
    top: 0;
    opacity: 100%;
  }
}

/* End Of About Me Text */

/* Section 2 main button */
.section-2.main-btn {
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
}
/* End of Section 2 main button */
/* End of Section 2 */

/* section 3 */
.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  margin-top: 30rem;
  position: relative;
}

/* Skills */
.container-glass {
  display: inline-block;
  width: 40rem;
  height: 55rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  margin: 5rem;
  transition: all ease-in-out 0.3s;
  opacity: 0.5;
}
.skills-heading {
  text-decoration: underline;
  color: #fff;
  text-transform: uppercase;
  padding: 3rem;
  line-height: 3;
  font-size: 1.3rem;
  text-shadow: 0 0 1rem #c2dde4;
  position: relative;
}

.skill-text {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 3;
  font-size: 1.3rem;
  text-shadow: 0 0 1rem #c2dde4;
  position: relative;
}
.container-glass:hover {
  width: 45rem;
  height: 60rem;
  transform: scale(0.9rem);
  text-transform: scale(0.9rem);
  opacity: 100%;
}
/* End of Skills */
/* End of section 3 */

/* Section 4 */
.section-4 {
  top: 70rem;
  position: relative;
  width: 100%;
}

/* Services */
.services-wrapper {
  width: 100%;
  flex-direction: column;
}

.service {
  width: 70%;
  margin: 2rem 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  margin: 5rem;
}
.service-btn {
  width: 100%;
  position: relative;
  display: block;
  height: 15rem;
}
.service-btn span {
  font-family: "poppins", sans-serif;
  font-size: 10rem;
  font-style: italic;
  font-weight: bold;
  color: #c9374c;
  position: absolute;
  right: 2rem;
  transition: right 0.5s;
  padding: 2rem;
}
.service-text {
  font-size: 5rem;
  color: #b4b1b8;
  letter-spacing: 0.1rem;
  height: 0rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  padding: 2rem;
}

.change.service-text {
  height: 15rem;
  visibility: visible;
  padding: 2rem;
  opacity: 1;
  transition: height 0.5s, opacity 0.5s 0.5s;
}
/* End of Services */
/* End of Section 4 */

/* Section 5 */
.section-5 {
  top: 70rem;
  position: relative;
  height: 100vh;
  flex-direction: column;
}

/* Form */
.form-heading {
  font-family: "poppins", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  text-shadow: 0 0 1rem #c2dde4;
}

.contact-form {
  flex-direction: column;
}

.contact-form-input {
  width: 60rem;
  pad: 0.5rem;
  margin: 1rem 0;
  padding: 0.1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.1rem solid #6f6d72;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1rem;
  height: 5rem;

  box-shadow: 0 0 1rem #c2dde4(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.contact-form-textarea {
  height: 20rem;
  resize: none;
}

/* Submit Button */
.form-submit-btn {
  position: relative;
  top: 35%;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: none;
  outline: none;
  -webkit-appearance: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  cursor: pointer;
  transition: color 1.5s 0.5s, border 3s 1s;
  text-shadow: 0 0 1rem #c2dde4;
}
.form-submit-btn:before,
.form-submit-btn:after {
  content: "";
  position: absolute;
  opacity: 0;
  backface-visibility: visible;
  transform-style: preserve-3d;
  perspective: 400px;
  transform-origin: 50% -50%;
  transform: rotateX(360deg) rotateY(0) translateX(-50%) translateY(0)
    scale(0.2);
  transition: all 0.5s;
}
.form-submit-btn:before {
  top: 5px;
  left: 50%;
  height: 3rem;
  background: white;
  border-top: 2rem solid #2980b9;
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
}
.form-submit-btn:after {
  top: 0;
  left: 50%;
  border-top: 2rem solid white;
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
}
.form-submit-btn:hover {
  color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  transition: color 0.25s, border 0.25s;
}
.form-submit-btn:hover:before,
.form-submit-btn:hover:after {
  opacity: 1;
  transform: rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}
.fly {
  color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  animation: sended 4s 0.8s forwards;
}
@keyframes sended {
  0% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 0;
    transform: rotate(-45deg) translateX(300%) translateY(-500%);
  }
  5% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 1;
    transform: rotate(-45deg) translateX(0) translateY(0);
  }
  78% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 1;
    transform: rotate(-45deg) translateX(0) translateY(0);
  }
  79% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 0;
    transform: rotate(-45deg) translateX(0) translateY(0);
  }
  80% {
    height: auto;
    width: auto;
    color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    opacity: 0;
    transform: rotate(0) translateX(0) translateY(0);
  }
  100% {
    height: auto;
    width: auto;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    transform: rotate(0) translateX(0) translateY(0);
  }
}
.fly:before,
.fly:after {
  animation: flyout 0.6s forwards;
}
@keyframes flyout {
  0% {
    opacity: 1;
    transform: rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }
  33% {
    opacity: 0.66;
    transform: rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0)
      scale(1);
  }
  100% {
    opacity: 0;
    transform: rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}
/* End of Submit Button */

/* End of Form */

/* Slideshow */
.slideshow {
  display: flex;
  width: 50rem;
  margin-top: 10rem;
  padding: 0 2rem;
}

.slideshow-link {
  width: 20%;
  filter: brightness(0.5);
  transition: filter 1.5s;
}

.slideshow-link:nth-child(1),
.slideshow-link:nth-child(5) {
  transition: width 0.5s, opacity 0.5s;
}

.slideshow-link:nth-child(3) {
  transition: filter 0.5s;
}

.slideshow-link img {
  width: 100%;
  padding: 0 1rem;
}

.faded-out {
  opacity: 0;
  width: 0;
}

.light {
  filter: brightness(1.5);
}
/* End of Slideshow */
/* End of Section 5 */
