/* Color Pallet:
  HEX CODES:
  #0b1f3a - Midnight Blue
  #76101e - Maroon
  #133769 - Navy Blue
  #c9374c - red/pink
  #b4b1b8 - Space Gray
  #c2dde4 - light Blue 
  
  Background Colors:
  #3f3251 - dark purple
  #002025 - Almost black/blue*/

/* Common Styles */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Jura", sans-serif;
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of commone styles */

/* Mouse Circle */
.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  animation: mouseDotAnim 10s infinite linear;
  opacity: 0;
  pointer-events: none;
}
@keyframes mouseDotAnim {
  0% {
    width: 0.5rem;
    height: 0.5rem;
  }
  55% {
    width: 1.5rem;
    height: 1.5rem;
  }
  100% {
    width: 0.5rem;
    height: 0.5rem;
  }
}
.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid #b4b1b8;
  animation: mouseCircleAnimation 10s infinite linear;
}
@keyframes mouseCircleAnimation {
  0% {
    width: 6rem;
    height: 6rem;
  }
  25% {
    width: 8rem;
    height: 8rem;
  }
  35% {
    width: 4rem;
    height: 4rem;
  }
  70% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}

.mouse-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #c9374c;
}
/* End of mouse circle */

/* Page BG - Interstellar */
body {
  background: mix(#3f3251, #002025, 70%);
}
#prism-logo path {
  fill: #20293b;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
}
#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  transform: scale3d(0.5, 0.5, 1);
}
#particles-background {
  background: mix(#3f3251, #002025, 70%);
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova-soft", sans-serif;
  -webkit-user-select: none;
  overflow: hidden;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .vertical-centered-box:after {
  content: "";
  display: inline-block;
}
/* END of Page BG - Interstellar */

/* Section 1 */
.section-1 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Logo */
.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}
/* End of Logo */

/* Anim Circle */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.circle {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: red;
  align-self: center;
  justify-self: center;
  opacity: 0.5;
  position: relative;
  top: 0;
  left: 0;
  transition: left 2s, top 2s;
}

.circle-1 {
  background: url(images/unfinishedP.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dotted #76101e;
  margin-left: -10rem;
}
.circle-2 {
  background: url(images/F1.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dashed #133769;
  margin-right: -10rem;
}
.circle-3 {
  background: url(images/guitar.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 1rem double #c2dde4;
  margin-left: -10rem;
}
.circle-4 {
  background: url(images/programmer.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.7rem double #76101e;
  margin-right: -10rem;
}
.main-circle {
  width: 55rem;
  height: 55rem;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
}
.main-circle:hover {
  width: 75rem;
  height: 75rem;
}
.main-circle img {
  /* mix-blend-mode: color-dodge; */
  position: relative;
  transition: left 2s, top 2s;
  top: 0;
  left: 0;
}
/* End of Anim Circles */

/* Featured Text */
.featured-text {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  width: 0;
  word-wrap: break-word;
  line-height: 3.5;
  position: sticky;
  top: 0;
}
.featured-text-1 {
  margin: 0 auto 0 10rem;
}
.featured-text-2 {
  margin: 0 10rem 0 auto;
}
/* End of Featured Text */

/* Main Button */
.main-btn {
  position: absolute;
  bottom: 3rem;
  width: 13rem;
  height: 13rem;
  background-color: #0b1f3a;
  border-radius: 50%;
  border: 0.2rem dotted #fff;
  padding: 0.1rem;
  overflow: hidden;
}

.main-btn-content {
  width: 100%;
  height: 100%;
  border: 0.2rem dotted #fff;
  border-radius: 50%;
  transform: rotate(40deg);
  transition: transform 0.2s, border 0.2s;
}

.main-btn:hover .main-btn-content {
  transform: rotate(60deg);
  border: 0.2rem dotted #fff;
  transition: transform 0.2s 0.5s, border 0.2s;
}

.main-btn-line {
  position: absolute;
  top: 4rem;
  width: 3rem;
  height: 0.5rem;
  border: 0.1rem solid #fff;
}

.main-btn-line:nth-child(1) {
  transform: rotateZ(-45deg) translateX(-0.65rem);
  transform-origin: left center;
  border-right: none;
}

.main-btn-line:nth-child(2) {
  transform: rotateZ(45deg) translateX(0.65rem);
  transform-origin: right center;
  border-left: none;
}

.main-btn-line:nth-child(3) {
  transform: rotateZ(90deg) translateX(0.5rem);
  border-left: none;
}

.main-btn span {
  position: absolute;
  bottom: 3rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.ripple {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #3f3251;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: rippleAnim 0.5s forwards;
}

@keyframes rippleAnim {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 230%;
    height: 230%;
  }
}
/* End of Main Button */
/* End of Section 1 */

/* Section 2 */
.section-2 {
  position: relative;
  padding: 10rem 10rem 15rem 10rem;
}
/* End o Section 2 */
